<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Snakey.io Game Platform</title>
        <link rel="stylesheet" href="/client/css/foundation.css" />
        <script src="/client/js/modernizr.js"></script>
    </head>
    <body>
        <div class="row">
            <div class="large-12 columns">
                <h1>Welcome to Snakey.io - Game platform</h1>
            </div>
        </div>
        <div class="main row">
            <div class="large-12 columns">
                <div class="games row"></div>
                <div class="row panel">
                    <div class="board large-8 columns"></div>
                    <div class="scores large-4 columns"></div>
                </div>
                <div class="management row"></div>
            </div>
        </div>

        <!-- TEMPLATES -->
        <script type="text/underscore-template" id="games">
            <div class="text-left">
                <div class="row collapse">
                    <h3>Create new game</h3>
                    <div class="large-2 columns">
                        <span class="prefix">Board name:</span>
                    </div>
                    <div class="large-6 columns">
                        <input type="text" name="name"/>
                    </div>
                    <div class="large-2 columns">
                        <a href="#" class="button postfix new-game">Snakes</a>
                    </div>
                    <div class="large-2 columns">
                        <a href="#" class="button postfix new-game">Tanks</a>
                    </div>
                </div>
                <div class="row collapse">
                    <h3>Join existing game</h3>
                    <ul class="large-block-grid-6">
                        <% 
                            var keys = _.sortBy(_.keys(games), function (key) { 
                                return key.toLowerCase(); 
                            });
                            _.each(keys, function (name) {
                                var game = games[name];
                        %>
                            <li>
                                <a class="button <% if (name === current) { %> success <% } %> join-game" 
                                   data-name="<%= name %>"
                                   href="#">
                                    <strong><%= name %></strong></br>
                                    Size: <%= game.boardSize %></br>
                                    Players: <%= game.players.length %>
                                </a>
                            </li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </script>

        <script type="text/underscore-template" id="board">
            <div class="text-left">   
                <h3><%= name %></h3>
                <canvas id="myCanvas" width="600" height="600"></canvas> 
            </div>
        </script>

        <script type="text/underscore-template" id="scores">
            <h5>Hall of Fame:</h5>
            <ul class="no-bullet">
                <% _.each(scores, function (score) { %> 
                    <li><%= score.length %> - <%= score.name %></li>
                <% }); %>
            </ul>
        </script>

        <script type="text/underscore-template" id="game-management">
            <div class="text-left">
                <h3>Add your player!</h3>
                <form action="/">
                    <div class="row collapse">
                        <div class="large-1 columns">
                            <span class="prefix">Name:</span>
                        </div>  
                        <div class="large-3 columns">    
                            <input type="text" id="name" name="name"/>
                        </div>
                        <div class="large-1 columns">
                            <span class="prefix">URL:</span>
                        </div>    
                        <div class="large-5 columns">    
                            <input type="text" id="url" name="url"/>
                        </div>
                        <div class="large-2 columns">
                            <input class="small postfix button" type="submit" value="Add"/>
                        </div>
                    </div>
                </form>
            </div>
        </script>

        <script type="text/underscore-template" id="game-management-heroku">
            <div class="text-left">
                <h3>Add your player!</h3>
                <div class="large-6 columns">
                    <form action="/">
                        <div class="row collapse">
                            <label for="name">Your Snake App Name</label>
                            <div class="large-9 columns">
                                <input type="text" id="name" name="name"/>
                            </div>
                            <div class="large-3 columns">
                                <span class="postfix">.herokuapp.com</span>
                            </div>
                        </div>
                        <input class="small button" type="submit" value="Add"/>
                    </form>
                </div>
                <div class="large-6 columns">
                    <div class="panel callout">
                        <p>
                            If you want to start playing snake game, 
                            run your snake server on heroku and add your snake
                            to the game.<br/>
                            Try: murmuring-headland-4457 for example snake.
                        </p>
                    </div>
                </div>
            </div>
        </script>
        <!-- END TEMPLATES -->

        <script src="/client/js/jquery.js"></script>
        <script src="/client/js/foundation.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/node_modules/underscore/underscore-min.js"></script>
        <script src="/node_modules/backbone/backbone-min.js"></script>
        <script src="/client/client.js"></script>

        <script type="text/javascript">
            $(document).foundation();

            var client = new Client({
                el: $('.main'),
                model: new ClientState()
            });
        </script>
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-7388443-6', 'snakey.herokuapp.com');
  ga('send', 'pageview');

        </script>
        <a href="https://github.com/gkapkowski/snakey.io">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
        </a>
    </body>
</html>
