<!doctype html>
<html lang="en">
    <head>
        <title>Snakey.io Game Platform</title>
        <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <style type="text/css">
            div {
                padding: 10px;
                margin: 10px;
            }
            .main {
                border: 1px dotted black;
            }    
            .games {
                border: 1px dotted red;
            }
            .board {
                border: 1px dotted green;
            }
            .scores {
                border: 1px dotted blue;
            }
            .management {
                border: 1px dotted gray;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Snakey.io - Game platform</h1>
        
        <div class="main">
            <div class="games row"></div>
            <div class="board large-8 columns"></div>
            <div class="scores large-4 columns"></div>
            <div class="management row"></div>
        </div>

        <script src="/js/client.js" type="text/javascript"></script>

        <script src="/js/ga.js" type="text/javascript"></script>
        <a href="https://github.com/gkapkowski/snakey.io">
            <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub">
        </a>
    </body>
</html>
