<div class="text-left">
    <h3>Add your player!</h3>
    <form action="/">
        <span class="prefix">Name:</span>
        <input type="text" id="name" name="name"/>
        <span class="prefix">URL:</span>
        <input type="text" id="url" name="url"/>
        <input class="small postfix button" type="submit" value="Add"/>
    </form>
</div>
