<div class="text-left">
    <h3>Add your player!</h3>
    <div class="large-6 columns">
        <form action="/">
            <div class="row collapse">
                <label for="name">Your Snake App Name</label>
                <div class="large-9 columns">
                    <input type="text" id="name" name="name"/>
                </div>
                <div class="large-3 columns">
                    <span class="postfix">.herokuapp.com</span>
                </div>
            </div>
            <input class="small button" type="submit" value="Add"/>
        </form>
    </div>
    <div class="large-6 columns">
        <div class="panel callout">
            <p>
                If you want to start playing snake game, 
                run your snake server on heroku and add your snake
                to the game.<br/>
                Try: murmuring-headland-4457 for example snake.
            </p>
        </div>
    </div>
</div>
